<!DOCTYPE html>
<html>
<head>
  <title>Rescue Mission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-bar">
  <div class="container">
    <a class="logo" href="/">Employee Hours</a>

    <ul class="top-bar-section">
      <% if signed_in? %>
        <li class="teal">Signed in as <%= current_user.username %></a></li>
        <li><%= link_to 'Sign out', session_path(current_user), method: :delete %></a></li>
      <% else %>
        <li><a href="/auth/google_oauth2/">Sign in</a></li>
      <% end %>
    </ul>
  </div>
</div>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
